// COLOR VARIABLES
$color-primary: #059669;
$color-grey-dark-1: #064e3b;
$color-primary-light: #a7f3d0;
$color-white: #fff;
$color-black: #000e0bff;

// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;