.form {
  grid-column: 2 / 3;
  margin: 3rem 0;

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__label {
    margin-bottom: .5rem;
    text-align: left;
    display: block;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: 2px solid rgba($color-black, .2);
    width: 100%;
    display: block;

    &:focus {
      border: 2px solid transparent;
      outline: rgba($color-black, .4) solid 1px;
      box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:focus:invalid {
      border-bottom: 2px solid $color-primary;
    }
  }

}
